body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #fff7b1, skyblue); /* Background gradient */
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the gradient covers the full height of the viewport */
}

p{
  margin-bottom: 2px;
}

h1 {
  color: #333;
  text-align: center;
  font-family: cursive;
}

.searchBar{
  display: flex;
  flex-direction: row-reverse;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}



button {
  padding: 8px 15px;
  font-size: 16px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005faa;
}

.outerContainer h2 {
  font-family: Cursive;
  font-size: 40px;
  color: #3c3c3c;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px auto;
}

.container .box {
  width: 300px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Added transform transition */
  border: #b5b5b5 1px solid;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.container .box:hover {
  background-color: #f9f9f9; /* Change background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow on hover */
  transform: rotate(-2deg); /* Tilt effect on hover */
}

.container .box:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  border-radius: 15px;
}

.container .box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 15px;
}



#Switch{
  display: flex;
  flex-direction: row-reverse;
  
}

.form-check-label{
  margin-right: 50px;
}

#flexSwitchCheckDefault{
  height: 20px;
  width: 30px;
  margin-right:10px;
}

.container .box .title {
  font-family: Cursive;
  background-color: lightblue;
  color: #0077cc;
  text-align: center;
  line-height: 40px;
  height: 50px;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
  border-radius: 15px 15px 0px 0px;
}


.tempSpan{
  font-size: 50px;
  font-weight: bold;
  color: #3c3c3c;
  text-align: center;
  margin-top: 10px;
}

.dataSpan{
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #3c3c3c;
  text-align: center;
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  width: 55%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: cursive;
  /* border: #3c3c3c 0.1px solid; */
  border-radius: 10px;
  margin-bottom: 20px;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc; /* Add thin line below each row */
}

th:first-child,
td:first-child {
  border-left: none;
}



th:last-child,
td:last-child {
  border-right: none;
}

th {
  color: #000000;
}

tr:first-child th {
  background-color: transparent;
  font-weight: bold;
}

th:first-child,
td:first-child {
  font-weight: bold;
}

tbody tr:last-child td {
  border-bottom: none;
}

tr:nth-child(even){
  background-color: #0077cc;
}

tr:nth-child(odd){
  background-color: lightblue;
}

tr{
  border: #3c3c3c 0.1px solid;
  border-radius: 10px;
}

tr:hover {
  background-color: #f5f5f5; /* Change background color on hover */
}

#col-row{
  background-color: #0077cc;
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0077cc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
